.products {
	width: 100%;
}

.products h2 {
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	width: 100%;
}

@media (min-width: 600px) {
	.product {
		justify-content: space-evenly;
	}
}
