.photos {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}

.photosMin {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.photosMin button {
	border: none;
	background: none;
}

.photosMin img {
	width: 85px;
	height: 120px;
}

.mainPhoto,
.imageContainer {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.mainPhoto {
	transition: transform 0.3s;
}

.mainPhoto:hover {
	transform: scale(1.5);
	cursor: zoom-in;
}

@media (min-width: 600px) {
	.mainPhoto,
	.imageContainer {
		height: 500px;
	}
}

@media (min-width: 900px) {
	.photos {
		flex-direction: row;
	}
	.photosMin {
		flex-direction: column;
	}
	.mainPhoto,
	.imageContainer {
		width: 300px;
		height: 396px;
	}
}

@media (min-width: 1100px) {
	.mainPhoto,
	.imageContainer {
		width: 500px;
		height: 600px;
	}
}
