.mainMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	width: 100%;
}

.mainMenu li a {
	padding: 1rem 0;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-white);
	transition: color 0.3s;
}

.mainMenu li a:hover {
	color: var(--color-white);
}

.mainMenu a:global(.active) {
	color: var(--color-white);
	border-bottom: 3px solid var(--color-white);
}

@media (min-width: 800px) {
	.mainMenu {
		flex-direction: row;
		justify-content: flex-start;
	}
	.mainMenu li a {
		color: var(--color-text-grey);
	}
	.mainMenu a:global(.active) {
		color: var(--color-text-default);
		border-bottom: 3px solid var(--color-text-default);
	}
	.mainMenu li a:hover {
		color: var(--color-text-default);
	}
}
