.fullWidthBtn {
	margin-top: 0.5rem;
	padding: 1rem 2rem;
	width: 100%;
	background-color: var(--color-theme-main);
	border: none;
	color: var(--color-white);
	font-size: clamp(0.7rem, 5vw, 14px);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
