.heroContent {
	position: absolute;
	top: 80px;
	left: 176px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	padding: 48px 80px;
	background: rgba(255, 255, 255, 0.5);
}

.heroContent button {
	margin-top: 0.5rem;
	padding: 1rem 2rem;
	width: 100%;
	background-color: var(--color-theme-main);
	border: none;
	color: var(--color-white);
	font-size: clamp(0.7rem, 5vw, 1rem);
	font-weight: 600;
	text-transform: uppercase;
}
