.arrowMenu {
	position: absolute;
	left: 0;
	display: block;
	margin-right: 2rem;
	padding: 1em;
	background-color: var(--color-theme-main);
	border: none;
}

.arrowMenu img {
	transform: rotate(-90deg);
}

