.arrowMenu {
	position: fixed;
	top: 200px;
	left: 0;
	display: block;
	margin-right: 2rem;
	padding: 1em;
	background-color: var(--color-theme-main);
	border: none;
	z-index: 800;
}

.arrowMenu img {
	transform: rotate(-90deg);
}
